<footer class="site-footer">
  <nav class="main-nav" id="menu">
    <ol>
      <li{% if page.url == '/index.html' %} class="active"{% endif %}>
        <a href="/index.html">Introduction</a>
      </li>
      <li{% if page.url == '/instructions/first_function.html' %} class="active"{% endif %}>
        <a href="/instructions/first_function.html">First function</a>
      </li>
      <li{% if page.url == '/instructions/move_the_taxi.html' %} class="active"{% endif %}>
        <a href="/instructions/move_the_taxi.html">Move the taxi</a>
      </li>
      <li{% if page.url == '/instructions/traffic_lights_on.html' %} class="active"{% endif %}>
        <a href="/instructions/traffic_lights_on.html">Switch on the Traffic Lights</a>
      </li>
      <li{% if page.url == '/instructions/passengers.html' %} class="active"{% endif %}>
        <a href="/instructions/passengers.html">Get people on the taxi</a>
      </li>
    </ol>
  </nav>
</footer>
